.comment-form {
    margin-top: 20px;
    box-sizing: border-box;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;
    resize: none;
}

.comment-form .submit-comment-button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #f0e68c;
    color: #333;
    cursor: pointer;
    border: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
}

.comment-form .submit-comment-button:hover {
    background-color: #e6d479;
}

@media (max-width: 768px) {
    .comment-form {
        width: 100%;
    }
}